body {
  margin: 0;
  background-image: url(../images/main-bg.svg);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
  padding-top: $nav-height;
  font-family: $font-family-base;
}


* {
  outline: none;
  box-sizing: border-box;
}



//restyle highlighter
.doc__view ::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

.doc__view ::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

//keyframes
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leader-line {
  position: fixed !important;
  z-index: 1;
}

//modal dialog
.modal {
  display: none;
  max-width: 250px;
  position: absolute;
  top: 100px;
  left: 100px;
  transform: translate(16px, 0);
  box-shadow: 0 0 20px rgb(0 0 0 / 25%);
  background-color: #fff;
  //background-color: #C33960;
  //transform: translate(10px, -50%);
  //border-radius: 4px;
  z-index: 22;
  color: #000;
  font-size: 12px;
  //pointer-events: none;
  flex-direction: column;
  &__header {
    padding: 16px;
    .modal__title {
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__body {
    padding: 16px;
    //padding: 4px 6px;
    .action-btn {
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      line-height: 1;
    }
    label {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 13px;
    }
    .form-group {
      margin-bottom: 16px;
      .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
      }
    }
  }

}

//checkbox
/*  CSS for slider */
.slider-checkbox [type="checkbox"] {
  display: none;
}

/*  Height and width can be adjusted,
    Border radius is 50% of height */
.slider-checkbox label {
  display: block;
  width: 40px;
  height: 20px;
  position: relative;
  background: #d2d2d2;
  border-radius: 10px;
  transition: background 0.2s ease;
  cursor: pointer;
}

.slider-checkbox label::before {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c3c3c3;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.2s ease-in-out;
}

/*  CSS for when slider is checked: */
.slider-checkbox [type="checkbox"]:checked + label {
  background: #4caf50;
}

.slider-checkbox [type="checkbox"]:checked + label::before {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

//paste btn
.btn-paste-content {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0;
  height: 2px;
  background-color: #FF2E86;
  position: relative;
  .inner {
    position: absolute;
    width: fit-content;
    background: #FF2E86;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 1px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //&:before {
    //  content: "";
    //  position: absolute;
    //  display: block;
    //  width: 0;
    //  left: 50%;
    //  margin-top: -1px;
    //  bottom: 0;
    //  border: 5px solid transparent;
    //  border-bottom: 0;
    //  border-top: 5px solid #FF2E86;
    //  transform: translate(-50%, 100%);
    //}
  }
}

//titles
.title {
  font-family: $font-family-base;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  margin-bottom: 16px;
}

.subtitle {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

//loader
.loader {
  margin: 0 auto;
  background: url(../images/loader.svg);
  width: 62px;
  height: 62px;
  background-size: cover;
  animation: rotate linear 1s infinite ;
}

  .nav {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $nav-height;
    padding: 10px 16px 10px 40px;
    background-color: #6F3091;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
      background: url(../images/logo.svg) no-repeat;
      background-size: contain;
      width: 227px;
      height: 44px;
    }
    &__doc-title {
      font-family: $font-family-base;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      @media (max-width: 992px) {
        font-size: 18px;

      }
    }
  }

.wrapper {
  width: 100%;
  max-height: calc(100vh - #{$nav-height});
  height: calc(100vh - #{$nav-height});
  .content {
    max-width: 1280px;
    min-height: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.step__1, .step__2 {
  min-height: calc(100vh - #{$nav-height});
}
.step__3 {
  padding-bottom: $content-pb;
  min-height: calc(100vh - (#{$nav-height} + #{$content-pb}));
}

.step__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step__3 {
  padding-top: 56px;
}

.step__3 .result-container {
  margin-bottom: 90px;
  padding: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 50px;
  .box {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    &__title {
      margin-bottom: 24px;
      .amount {
        font-weight: 700;
        font-style: normal;
        font-size: 48px;
        line-height: 32px;
      }
      &.error {
        color: #FF002E;
      }
      &.valid {
        color: #00B13C;
      }
    }
    &__list {
      &__item {
        margin-bottom: 10px;
      }
    }
  }
}

.step__4 {
  //padding-top: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: calc(100vh - #{$nav-height});
  min-height: calc(100vh - #{$nav-height});
  .result-container {
    height: 100%;
    padding: 0 16px;
    display: grid;
    grid-template-columns: 206px 1fr 206px;
    grid-template-rows: auto auto auto;
    grid-column-gap: 50px;
    .doc__view {
      overflow-y: auto;
      padding: 32px;
      width: 100%;
      height: 100%;
      background: #fff;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      .highlight {
        background-color: transparent;
        transition: background-color 0.2s ease-in-out;

      }
      &.highlighted {
        .highlight {
          background-color: #5cde98;
          &:hover {
            background-color: #4aba7e;
            cursor: pointer;
          }
        }
      }
      .doc__data {
        white-space: pre-line;
      }
    }
    .box {
      overflow-y: auto;
      width: 100%;
      height: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      &__title {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        font-weight: 700;
        line-height: 23px;
        .amount {
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2px 8px;
          border-radius: 8px;
          margin-right: 8px;
        }
      }

      &.error {
        .box__title {
          color: #FF002E;
          .amount {
            background-color: #FF2E86;
          }
        }
        .box__list__item {
          &[disabled="true"] {
            cursor: default;
          }
          &:before {
            background-color: #FF2E86;
            border-color: #FF2E86;
          }
          &.active {
            background-color: #FF2E86;
            color: #fff;
            &:before {
              border-color: #fff;
            }
          }
        }
      }
      &.valid {
        .box__title {
          color: #00B13C;
          .amount {
            background-color: #00CB5D;
          }
        }
        .box__list__item {
          //transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

          &:before {
            background-color: #00CB5D;
            border-color: #00CB5D;
          }
          &.active {
            background-color: #00CB5D;
            color: #fff;
            &:before {
              border-color: #fff;
            }
          }
        }
      }
      &__list {
        &__item {
          border-radius: 4px;
          cursor: pointer;
          padding: 4px 8px 4px 32px;
          position: relative;
          line-height: 20px;
          margin-bottom: 16px;
          &:before {
            position: absolute;
            left: 8px;
            top: 8px;
            width: 8px;
            height: 8px;
            border-style: solid;
            border-width: 2px;
            content: '';
            border-radius: 50%;
          }
        }
      }
    }
  }
}