.d-none {
  display: none !important;
}
.float-right {
  float: right !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.align-items-center {
  align-items: center !important;
}


.justify-content-center {
  justify-content: center !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-42 {
  margin-bottom: 42px !important;
}

.mr-2 {
  margin-right: 8px !important;
}