@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-42 {
  margin-bottom: 42px !important;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  border: 0;
  font-size: 18px;
  width: fit-content;
  cursor: pointer;
  padding: 10px 16px;
  color: #fff;
  border-radius: 4px;
}
.btn:hover {
  box-shadow: none;
}
.btn--primary {
  padding: 16px 32px;
  background: #6F3091;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
}
.btn--green {
  padding: 8px 24px;
  background: #00CB5D;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
}

body {
  margin: 0;
  background-image: url(../images/main-bg.svg);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
  padding-top: 64px;
  padding-bottom: 40px;
  font-family: "PT Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.title {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  margin-bottom: 16px;
}

.subtitle {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.wrapper {
  width: 100%;
  height: auto;
  min-height: calc(100vh - (64px + 40px));
}
.wrapper .content {
  width: 1200px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
}

.loader {
  margin: 0 auto;
  background: url(../images/loader.svg);
  width: 62px;
  height: 62px;
  background-size: cover;
  animation: rotate linear 1s infinite;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 16px 10px 40px;
  background-color: #6F3091;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  background: url(../images/logo.svg) no-repeat;
  background-size: contain;
  width: 227px;
  height: 44px;
}
.nav__doc-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
@media (max-width: 992px) {
  .nav__doc-title {
    font-size: 18px;
  }
}

.step__1, .step__2, .step__3, .step__4 {
  min-height: calc(100vh - (64px + 40px));
}

.step__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step__3 {
  padding-top: 56px;
}

.step__3 .result-container {
  margin-bottom: 90px;
  padding: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 50px;
}
.step__3 .result-container .box {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.step__3 .result-container .box__title {
  margin-bottom: 24px;
}
.step__3 .result-container .box__title .amount {
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 32px;
}
.step__3 .result-container .box__title.error {
  color: #FF002E;
}
.step__3 .result-container .box__title.valid {
  color: #00B13C;
}
.step__3 .result-container .box__list__item {
  margin-bottom: 10px;
}

.step__4 {
  padding-top: 32px;
}
.step__4 .result-container {
  display: grid;
  grid-template-columns: 206px 1fr 206px;
  grid-template-rows: auto auto auto;
  grid-column-gap: 50px;
}
.step__4 .result-container .doc__view {
  background: #fff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
.step__4 .result-container .box {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.step__4 .result-container .box__title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 23px;
}
.step__4 .result-container .box__title .amount {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 8px;
  margin-right: 8px;
}
.step__4 .result-container .box.error .box__title {
  color: #FF002E;
}
.step__4 .result-container .box.error .box__title .amount {
  background-color: #FF2E86;
}
.step__4 .result-container .box.error .box__list__item:before {
  background-color: #FF2E86;
  border-color: #FF2E86;
}
.step__4 .result-container .box.error .box__list__item:hover {
  background-color: #FF2E86;
  color: #fff;
}
.step__4 .result-container .box.error .box__list__item:hover:before {
  border-color: #fff;
}
.step__4 .result-container .box.valid .box__title {
  color: #00B13C;
}
.step__4 .result-container .box.valid .box__title .amount {
  background-color: #00CB5D;
}
.step__4 .result-container .box.valid .box__list__item:before {
  background-color: #00CB5D;
  border-color: #00CB5D;
}
.step__4 .result-container .box.valid .box__list__item:hover {
  background-color: #00CB5D;
  color: #fff;
}
.step__4 .result-container .box.valid .box__list__item:hover:before {
  border-color: #fff;
}
.step__4 .result-container .box__list__item {
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px 4px 32px;
  position: relative;
  line-height: 20px;
  margin-bottom: 16px;
}
.step__4 .result-container .box__list__item:before {
  position: absolute;
  left: 8px;
  top: 9px;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 2px;
  content: "";
  border-radius: 50%;
}

/*# sourceMappingURL=app.css.map */
